
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body {
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit;
    margin: 0px;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    margin-top: 25px;
    font-size: 20px;
    color: white;
}
.card {
    padding: 20px;
    margin: auto;
    width: 260px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.158);
}
p{
    color: hsl(215, 51%, 70%);
    font-size: 14px;
}
.description {
    font-size: 16px;
}
.card img{
    border-radius: 15px;
    display: block;
    width: 100%;
    margin: auto;
}
.ethDays {
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}
.ethDays, .eth, .days{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ethDays img{
    display: block;
    width: 10px;
    margin-right: 10px;
}
.eth p {
    font-weight: 600;
    color: hsl(178, 100%, 50%);
}
.days img{
    width: 15px;
}
.jules{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.jules img {
    margin: 0px;
    margin-right: 10px;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid white;
}
strong {
    font-weight: 400;
    color: white;
}